.main-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 99vw;
}

.paragraph-container {
    display: none;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    position: relative;
    width: 60vw;
    left: 18vw;
    font-size: 1.5rem;
    color: #FFFF;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
    height: auto;
    min-height: 0;
}

.paragraph-p {
    color: #E8E8E8;
    position: relative;
    top: 5vh;
    font-family: 'Helvetica', serif;
    text-indent: 2em;
    line-height: 1.25;
    text-shadow: 3px 3px 1px #000000;
    user-select: none;
    margin: 0%;
}

.no-drag-container {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}