.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 99.60vw;
    top: 7.5vh;
    z-index: 10;
}

.header-rules {
    width: fit-content;
    height: fit-content;
}

.white-space {
    width: 50vw;
}

#text-rules {
    position: absolute;
    pointer-events: none;
    top: 1.5vh;
    left: 8.3vw;
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #4B2E05;
    text-shadow: 1px 1px 2.3px #3C3C3C;
    z-index: 9;
}

#rules-scroll {
    position: relative;
    width: 6vw;
    transform: rotate(-40deg);
    user-select: none;
    border-radius: 24%;
    z-index: 8;
}