.champion-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shurima-extended {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faction-extended-img {
    width: 13vw;
}

.faction-name-shurima {
    font-family: 'Cinzel', 'Trajan Pro', serif;
    font-weight: 900;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #c8aa6e;
    /* Dorado Shurima */
    text-shadow:
        3px 3px 0 #654321,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    letter-spacing: 3px;
}

.shurima-grid-champion {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    gap: 0.5rem;
}

.champion-image {
    width: 11.50vw;
    position: relative;
    /* Asegurar contexto de apilamiento */
    z-index: 1;
    /* Imagen en capa base */
}

.champion-image:hover {
    z-index: -10;
}

.champion-fixer {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    gap: 0.5rem;
}

.champion-name--shurima {
    font-family: 'Cinzel', 'Trajan Pro', serif;
    font-weight: 900;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #c8aa6e;
    letter-spacing: 2px;
    text-shadow:
        3px 3px 0 #654321,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}